$navlink: #fff;
$navlink-hover: orange;
$nav: rgba(0, 0, 0, 0.7);
$header: #fff;
$button: #505;
$dropdown__button: red;
$background: url("../img/1.jpg") center (center / cover) no-repeat;
$cart__button: blue;

$cart__header: url("../img/1.jpg") center (center / cover) no-repeat;
$cart__header-hero: url("../img/carts/hero/header.jpg") center (center / cover) no-repeat;
$cart__header-item:url("../img/carts/item/header.jpg") center (center / cover) no-repeat;
$cart__header-crip:url("../img/carts/crip/header.jpg") center (center / cover) no-repeat;
$cart__header-skill:url("../img/carts/skill/header.jpg") center (center / cover) no-repeat;

