.main {
    background: $background;
}
.header {
    // background: $background;
    .nav {
        background-color: $nav;
        position: fixed;
        // display: fixed;
        width: 100%;
        z-index: 1000;
        .container {
            padding-top: 0;
            padding-bottom: 0;
            .menu {
                padding:1.5% 0 1.5% 0;
                display: flex;
                justify-content: space-around;
                font-size: 23px;
                .menu__logo {
                    width: 50%;
                    font-size: 23px;
                    .link {
                        width: 0;
                    }
                }
                .menu__item {
                    list-style-type: none;
                    .link {
                        text-decoration: none;
                        color: $navlink;
                    }
                }
            }
        }
    }
    .container {
        color: $header;
        padding: 9% 10em 3% 8em;
        .title {
            // padding-top: 15%;
            font-size: 50px;
        }
        .subtitle {
            font-size: 25px;
        }
    }
}