.section__info {
    // background: $background;
    color: #fff;
    padding: 4% 0 5% 0;
    height: $infoheight;
    .container {
        .description {
            font-size: 22px;
            text-align: left;
            padding-top: 15px;
            width: 90%; 
            margin: 0 auto;
        }
    }
    .title {
        text-align: center;
        font-size: 30px;    
    }
}